/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Montserrat:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(25, 90%, 54%);
   --first-color-alt: hsl(25, 85%, 50%);
   --title-color: hsl(25, 48%, 12%);
   --text-color: hsl(25, 32%, 24%);
   --white-color: hsl(0, 0%, 100%);
   --body-color: hsl(18, 58%, 82%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Montserrat", sans-serif;
   --second-font: "Jolly Lodger", system-ui;

   --biggest-font-size: 3.5rem;
   --normal-font-size: .938rem;

   // Responsive typography
   @media screen and (min-width: 1150px){
      --biggest-font-size: 8rem;
      --normal-font-size: 1rem;
   }

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-semi-bold: 600;

	/*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}
